<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Welcome to the Job Portal</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">We not only update the latest govt. jobs but also will update private jobs also. We always update latest trending private jobs on freshersworld website and app also. Present latest top ten trending jobs in India are Data Scientist, Digital Marketing, Medical Professionals, Machine Learning Experts, Blockchain Developers, Software Engineers, Chartered Accountant (CA),Lawers, Investment Banker, and Management Consultant. To get all these latest trending private jobs in India just register with our job portal.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" (click)="showLoginPage('Employer')">Employer</button>
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" (click)="showLoginPage('Job Seeker')">Job Seeker</button>
      </div>
    </div>
</div>